@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 20px;
}

.h-logo {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.h-logo img {
    width: 120px;
    margin: 20px auto;  
}

.h-logo h1 {
    margin: 20px auto;
    text-align: center;
}

.cc-intro {
    height: 100vh;
    background-image: url("../media/abstract_low_poly_banner_design_1301.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    box-shadow: inset 0px -50vh 100px rgba(0, 0, 0, 0.555);
}

.cc-sobre, .cc-cpa, .cc-gestao {
    background-color: #fff;
    color: #131313;
    margin: auto;
}

.cc-sobre h1, .cc-cpa h1, .cc-gestao h1 {
    border-bottom: 1px solid black;
}

.card {
    min-height: 100vh;
    overflow-x: hidden;
}

.card h1 {
    font-family: 'Roboto Slab', serif;
    margin: 0 10%;
    padding-top: 5%;
}

.card p {
    margin: 0 10%;
    padding-top: 1%;
    font-weight: 600;
}

b {
    font-weight: 900;
    color: rgb(109, 31, 187);
    text-decoration: underline;
}

.cc-infos, .cc-colegiado , .cc-corpo {
    background-color: #131313;
    padding-bottom: 5%;
}

.cc-infos h1, .cc-colegiado h1, .cc-corpo h1 {
    border-bottom: 1px solid #fff;
}

a {
    text-decoration: none;
    color: rgb(255, 54, 54);
}

a:hover {
    text-decoration: underline;
}

table {
    margin: 0 10%;
    padding-top: 3%;
}

td {
    padding: 1%;
    border: 1px solid rgba(255, 255, 255, 0.596);
}

.cc-gestao td{
    border: 1px solid rgba(0, 0, 0, 0.705);
}

.cc-nde {
    background-color: #fff;
    color: #131313;
    margin: auto;
}

.cc-nde h1 {
    border-bottom: 1px solid black;
}

.card ul {
    margin: 0 10%;
    padding-top: 1%;
    font-weight: 600;
}

.card li {
    margin: 0.5%;
}

@media screen and (max-width: 375px) {
    .table {
        overflow: scroll;
    }
}